.close {
  display: grid;
  place-items: center;
  width: 100%;
  position: sticky;
}

.mainContainer {
  display: grid;
  grid-template-rows: 6% 94%;
  width: 100%;
  height: 70%;
  background-color: var(--color-background);
  font-family: var(--font-text);
  position: fixed;
  bottom: 0;
  left: 0;
  color: var(--color-primary);
}

.mainContainer .scrollContent {
  display: grid;
  grid-auto-flow: row;
  overflow: scroll;
  grid-template-rows: unset;
}

.mainContainer .locationPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.addressLine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(196 196 196 / 33%);
  padding-left: 0.5rem;
  align-items: center;
  font-size: 3vw;
  padding-top: 3%;
  padding-bottom: 3%;
}

.address {
  color: var(--color-text);
  font-size: 3vw;
}

.landscapeLine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 0.5rem;
  align-items: center;
  font-size: 3vw;
}

.infraLine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 0.5rem;
  background-color: rgb(196 196 196 / 40%);
  align-items: center;
  font-size: 3vw;
}

.iconImage {
  width: 30%;
  padding-top: 2%;
  padding-bottom: 1%;
}
