.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('../../../assets/Background_Images/Title_Image.png');
  background-size: cover;
}

.startTab {
  text-decoration: none;
  text-align: center;
  width: 50%;
  font-family: var(--font-text);
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 4vw;
  padding: 12px 24px;
  color: var(--color-text);
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  animation: 6s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logoContainer {
  display: grid;
  place-items: center;
  width: 48%;
  border-radius: 50%;
  background-color: rgb(117 139 139 / 60%);
  line-height: 0;
  position: relative;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  animation: 1s ease 0s normal forwards 1 fadein;
}

.logoContainer::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.logoIcon {
  width: 70%;
  position: absolute;
  bottom: 43%;
  text-align: center;
  margin-top: 6rem;
  animation: 3s ease-in 1 mymove;
}

@keyframes mymove {
  from {
    left: -300px;
  }

  to {
    left: 28px;
  }
}

.logoText {
  font-family: var(--font-logo);
  position: absolute;
  bottom: 30%;
  font-size: 8vw;
  color: #fff;
}
