.container {
  display: grid;
  height: 100vh;
  width: 100%;
  background-image: url('src/assets/Background_Images/Title_Image.png');
  background-size: cover;
}

.mainContainer {
  display: grid;
  place-items: center;
}

.logo {
  width: 12rem;
  pointer-events: none;
}
