.pageContainer {
  display: grid;
  height: 100vh;
  width: 100%;
  align-content: center;
  place-content: center;
  background-size: cover;
  background-image: url('../../../assets/Background_Images/ForrestClouds_Background.png');
  position: absolute;
  padding-bottom: 6rem;
  padding-top: 3rem;
  gap: 2rem;
}

@media (min-width: 1000px) {
  .pageContainer {
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    place-items: center;
    gap: 0;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-background);
  left: 0;
  width: 100%;
  height: 4.375rem;
  bottom: 0;
  position: fixed;
  align-items: center;
}

.cancel {
  position: absolute;
  left: 2rem;
  background: none;
  border: 0;
  top: 1.8rem;
}

.filter {
  position: absolute;
  right: 2rem;
  border: 0;
  top: 0.8rem;
}

button :disabled,
button[disabled] {
  opacity: 0.5;
}
