.pageContainer {
  display: grid;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url('src/assets/ForrestClouds_Background.png');
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  padding: 3rem 2rem;
  gap: 1em;
}
