.pageContainer {
  display: grid;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url('src/assets/Background_Images/ForrestClouds_Background.png');
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  padding: 3rem 2rem;
  padding-bottom: 4.5rem;
  padding-top: 1rem;
  gap: 0.5rem;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-background);
  left: 0;
  width: 100%;
  height: 4.375rem;
  bottom: 0;
  position: fixed;
  place-items: center;
}

.cancel {
  position: absolute;
  left: 2rem;
  background: none;
  border: 0;
}

.filter {
  position: absolute;
  right: 2rem;
  border: 0;
}
