.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-background);
  place-items: center;
  padding-top: 0.7rem;
  width: 100vw;
  height: 4.375rem;
  bottom: 0;
  position: fixed;
}

.arrowBack {
  display: grid;
  position: fixed;
  place-items: center;
  left: 2rem;
  bottom: 1.5rem;
}

.arrowIcon {
  width: 90%;
  margin-top: 0.5%;
}

.clearFilter {
  display: grid;
  place-items: center;
  font-family: var(--font-text);
  color: var(--color-primary);
  background-color: var(--color-background);
  gap: 0.3rem;
  text-transform: uppercase;
  position: fixed;
  right: 1rem;
  margin-top: 0.5%;
  font-size: 1.3vh;
}
