.mainContainer {
  display: grid;
  width: 277.63px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  background-color: var(--color-background-cards);
  font-family: var(--font-text);
  font-size: var(--font-size-secondary);
  border-radius: var(--border-radius-cards);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  padding: 1rem;
}

.tabsTextContainer {
  text-align: center;
}

.infraTabs {
  border: none;
  border-radius: 50%;
  background-color: var(--color-tabs);
  width: 54px;
  height: 56px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
