.header {
  display: grid;
  grid-template-columns: 90% 10%;
}

.mainContainer {
  display: grid;
  z-index: 1;
  place-items: center;
  padding: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  width: 17rem;
  background-color: var(--color-background);
  border-radius: var(--border-radius-searchbar);
  place-items: center;
  padding: 0.5rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.inputField {
  border: none;
  margin: 0;
  background-color: var(--color-background);
}

.cancel {
  vertical-align: middle;
  border: none;
  background: none;
}

.searchBar {
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  margin-top: 1rem;
}

.filter {
  display: grid;
  border: none;
  background-color: var(--color-background);
  border-radius: 50%;
  width: 53.02px;
  height: 56.01px;
  place-items: center;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  cursor: pointer;
  right: 1rem;
  bottom: 10.5rem;
  z-index: 400;
}
