.mainContainer {
  display: grid;
  background-image: url('../../assets/MountainWoods.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  place-items: center;
}
